.card {
    width: 100%;
    max-width: 657px;
    margin: 0 auto;
    background: $white;
    box-shadow: none;
    height: calc(100vh - 87px); // Minus header bar.


    @media screen and (min-width: 768px) {
        height: 100%;
        box-shadow: 0px 2px 10px $shadow;
    }
}