@import '_variables';
@import 'components/appHeader';
@import 'components/button';
@import 'components/formNavigation.scss';
@import 'components/card';
@import 'components/input';


html {
    background: $white;
    background-image: url('../images/background.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    font-family: Helvetica, Arial, sans-serif;
    // width: 100vw;
    height: 100vh;
    max-width: 1440px; // Assume width beyond mockup requires gutters.
    margin: 0 auto;
    
    * {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    padding: 0;
}

.card-centre {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
    @media screen and (min-width: 768px) {
        top: 139px; // 209 top offset - 70px of header.
    }
}

h1,
label {
    font-weight: 600;
}