@import '_variables';
@import 'components/appHeader';
@import 'components/button';
@import 'components/formNavigation';
@import 'components/card';
@import 'components/inputField';

html {
    background: $white;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    max-width: 1600px; // Assume width beyond mockup requires gutters.
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        background-image: url('../images/background.png');
        background-position: center 500px;
        background-repeat: no-repeat;
        background-size: 1600px auto;
    }
    
    * {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    padding: 0;
}

.card-centre {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
    @media screen and (min-width: 768px) {
        top: 139px; // 209 top offset - 70px of header.
    }
}

h1,
label {
    font-weight: 600;
}