.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px 0;
  border: none;
  border-radius: 4px;
  color: #fff;
}

.card {
  width: 100%;
  max-width: 657px;
  margin: 0 auto;
  background: #fff;
  box-shadow: none;
  height: calc(100vh - 87px);
}
@media screen and (min-width: 768px) {
  .card {
    height: 100%;
    box-shadow: 0px 2px 10px rgba(226, 233, 238, 0.6);
  }
}
.card__labelRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.card__label, .card__indexLabel {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #303538;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.card__heading {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #303538;
  font-size: 24px;
  line-height: calc(34px / 24px);
}

.input {
  background: #FBFBFD;
  border: 1px solid #899298;
  border-radius: 4px;
  box-sizing: border-box;
}

html {
  background: #fff;
  background-image: url(/images/background.png?a2913027eb796b17670984ba2d9c5573);
}
