.appHeader {
    background: $white;
    box-shadow: 0px 4px 8px $darkShadow;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    background: $white;
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        padding: 16px 55px;
        box-shadow: none;
        justify-content: flex-start;
    }

    &__image {
        background-image: url('../../images/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 38px;
        width: 98px;
    }
}