.inputButton {
    font-size: 18px;
    line-height: calc(22 / 18);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13px 0;
    border: none;
    border-radius: 4px;
    color: #008980;
    background: #fff;
    border: #fff;
    display: inline-block;
    width: 100%;
    margin: 0.5rem auto;

    @media screen and (min-width: 768px) {
        width: auto;
        margin: 0.5rem 0;
    }

    &--green {
        background: #008980;
        color: $white;
        padding: 13px 48px;

        @media screen and (min-width: 768px) {
            min-width: 152px;
        }
    }

    // Since we don't have the chevron asset.
    .chevron--left {
        transform: scale(0.65, 1);
        margin-right: 0.4rem;
    }
}