.card {
    background: $white;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    height: calc(100vh - 87px); // Minus header bar.
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 20px;
    width: 100%;


    @media screen and (min-width: 768px) {
        border-radius: 8px;
        box-shadow: 0px 2px 10px $shadow;
        height: 100%;
        height: fit-content;
        margin-bottom: 139px;
        max-width: 657px;
        min-height: 483px;
        padding: 40px 40px;
    }

    &__labelRow {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__label,
    &__indexLabel {
        font-weight: 600;
        color: $coolGrey;
        font-size: 12px;
        line-height: 1; // calc( [12px line-height] / [12px font-size] ) === 1.
        letter-spacing: 0.25px;
        text-transform: uppercase;
    }

    &__heading { 
        font-weight: 600;
        color: $coolGrey;
        font-size: 24px;
        line-height: calc(34 / 24);
    }

    &__textContent {
        font-size: 16px;
        line-height: calc(22 / 16);
    }

    &__submitImage {
        background-image: url('../../images/plane.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 126px;
        width: 100%;
    }

    &--success {
        max-height: 520px;
        margin: 88px 10px 0;

        @media screen and (min-width: 768px) {
            margin: 88px auto auto;
            max-height: fit-content;
            margin-top: 88px;
        }

        * {
            text-align: center;
            max-width: 514px;
            margin: 0 auto;
        }
    }
}