.card {
    width: 100%;
    max-width: 657px;
    margin: 0 auto;
    background: $white;
    box-shadow: none;
    height: calc(100vh - 87px); // Minus header bar.


    @media screen and (min-width: 768px) {
        height: 100%;
        box-shadow: 0px 2px 10px $shadow;
    }

    &__labelRow {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__label,
    &__indexLabel {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        color: $coolGrey;
        font-size: 12px;
        line-height: 1; // calc( [12px line-height] / [12px font-size] ) === 1.
        letter-spacing: 0.25px;
        text-transform: uppercase;
    }

    &__heading { 
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 600;
        color: $coolGrey;
        font-size: 24px;
        line-height: calc(34px / 24px);
    }
}